doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' , href='https://fonts.googleapis.com/css?family=Playball')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        
        link(rel='stylesheet', href='/css/style.css')
        
    body
        
        div(class="row")
            div(class="col-xs-6 text-left brand")
                h4 
                    img(src="/img/icons8-Restaurant.png" width="25px" height="25px") 
                    |  GoRestaurants
            div(class="col-xs-6 text-right")
                if user
                    span
                        a(href="/logout" class="btn") Logout
        div(class="jumbotron center-block")
            h2(class="text-center") Want to eat out?
            h3(class="text-center") Search for restaurants and RSVP ahead of time !
            form(id="search" method='post' action='/')
                div.form-group
                    label(for='location') Where are you:
                    input#location.form-control(type='text' placeholder='Where are you' name='location' required='true' )
                button.btn.btn-lg(type='submit') Search!
            if error
                p #{error}
        div(class="result center-block")
            if liste
                table#mytable
                    thead
                        tr
                            td h1
                            td h2
                    tbody
                        each r in liste
                            tr
                                td(width="100px")
                                    img(src=r.image_url width="50" height="50" class="business_icon img-rounded center-block")
                                    form(id="go" method=user==null?"get":"post" action=user==null?"/auth/twitter":"/updatecount")
                                        div.form-group
                                            input(id="bi" name="bi" type="hidden" value=r.id)
                                        button.btn(type="submit" class="center-block") #{r.nbgoing} Going
                                td(class="description")
                                    h5(class="text-left") 
                                        a(href=r.url) #{r.name}
                                    p "#{r.topreview}"
                        
        div(class="row footer")
            h5(class="text-center") Made By 
                a(href="http://github.com/hasnaas") Hasna
            h5(class="text-center") Powered by 
                a(href="https://www.yelp.com/developers/documentation/v3") Yelp Fusion
                
                
                            
     
        script(src='/js/paginate.min.js')
        script(src="/js/main.js") 